<header id="main-header">
  <div id="logo">
    <a href="/">Business Board</a>
  </div>
  <nav>
    <ul>
      <!-- <li>
        <a href="/">Home Page</a>
      </li> -->
      <li>
        <a href="/create-company">Create Company</a>
      </li>
      <li>
        <a href="/create-staff">Create Staff</a>
      </li>
      <li>
        <a href="/staff-list">Staff List</a>
      </li>
      <li>
        <a href="/staff/:id/edit">Update Staff</a>
      </li>
    </ul>
  </nav>
</header>
