<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head', { title: 'Create new Staff' }) %>
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/staff.css" />
  </head>

  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>Add a new staff</h1>
      <form action="/staff-list" method="POST">
        <div class="form-control">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-control">
          <label for="role">Role</label>
          <input type="text" id="role" name="role" required />
        </div>
        <div class="form-control">
          <label for="bio">Bio</label>
          <textarea id="bio" name="bio" rows="5"></textarea>
        </div>
        <div class="post-actions">
        <button class="btn">Save Staff</button>
      </form>
        <a class="btn" href="/">Edit Staff</a>
      </div>
    </main>
  </body>
</html>
