<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head', { title: 'Update Staff' }) %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/staff.css" />
</head>

<body>
  <%- include('../includes/header') %>
  <main>
    <h1>Update Staff</h1>

    <form action="/company/../edit" method="POST">
      <div class="form-control">
        <label for="title">Company Name</label>
        <input type="text" id="title" value=".." name="title" required>
      </div>
      <div class="form-control">
        <label for="summary">Business Type</label>
        <input type="text" id="summary" value=".." name="summary" required maxlength="255">
      </div>
      <div class="form-control">
        <label for="content">Business Summary</label>
        <textarea id="content" name="content" required rows="5">..</textarea>
      </div>
      <div class="spc-btn-control">
          <button class="btn">Update Staff</button>
          <form action="/company/id../delete" method="POST">
            <button class="btn btn-alt-delete">Delete Staff</button>
          </form>
        </div>
      </form>
  </main>
</body>

</html>